@{
    ViewData["Title"] = "İletişim";
}


<div class="container my-4">
    <div class="contact-frame">
        <h3>İletişim</h3>
        <p><strong>Telefon:</strong> 
            <a href="tel:+905526540960">+90 552 654 09 60</a>
        </p>
        <p><strong>E-posta:</strong> 
            <a href="mailto:elifyyeter@gmail.com">elifyyeter@gmail.com</a>
        </p>
        <p><strong>GitHub:</strong> 
            <a href="https://github.com/elifyeter" target="_blank">github.com/elifyeter</a>
        </p>
        <p><strong>LinkedIn:</strong> 
            <a href="https://www.linkedin.com/in/elif-yeter" target="_blank">linkedin.com/in/elif-yeter</a>
        </p>

    </div>

</div>