@{
    ViewData["Title"] = "Özgeçmiş";

}


<div class="container my-5">
    <div class="resume-section">
        <div class="resume-box">
            <h3>Özgeçmiş</h3>
            <br>
            <p>Bilgisayar Mühendisliği lisans eğitimime devam ederken yazılım
                ve donanım alanlarında kendimi geliştirmeye özen gösteriyorum.
                Programlama temelleri, nesne yönelimli programlama, veri yapıları,
                algoritmalar ve veri tabanı konularında bilgi sahibiyim. Öğrenmeye açık,
                sorumluluk alabilen ve takım çalışmasına uyum sağlayabilen bir öğrenciyim.
                Hedefim; edindiğim teknik bilgi ve deneyimleri artırarak, yazılım
                geliştirme alanında uzmanlaşmak ve yenilikçi projelerde aktif rol almaktır.
            </p>
            <br>

            <hr>

            <br>
            <h3>Yetenekler</h3>
            <br>
            
            <div class="row">
                
                <div class="col-md-6">
                    <ul class="skills-list">
                        <li>Python, Java, C, C#</li>
                        <li>HTML, SQL, CSS</li>
                        <li>Veri Yapıları, Algoritmalar ve OOP</li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <ul class="skills-list">
                         <li>Takım Çalışması</li>
                         <li>Problem Çözme Becerisi</li>
                         <li>Öğrenmeye Açıklık</li>
                    </ul>
                </div>

            </div>

            <br>
            <hr>
            <br>

            <h3>Deneyim</h3>
            <br>
            <h5>Online Kurs / Staj (2025 Yaz)</h5>
            <ul class="experience-list">
                <li>Spring Boot ve Spring Cloud kullanarak mikroservis mimarisiyle
                    bir ürün yönetim servisi geliştirdim.</li>
                <li>Eureka ile servis keşfi, Config Server ile merkezi yapılandırma yönetimi
                    ve Auth0 ile güvenli kullanıcı kimlik doğrulaması entegre edildi.</li>
                <li>MySQL veri tabanı kullanarak ürün verilerini yönetme ve RESTful API ile
                    diğer servislerle iletişim sağlama deneyimi kazandım.</li>

            </ul>

            <br>
            <hr>
            <br>

            <h3>Eğitim</h3>
            <br>
            <div class="edu-line">(Eylül 2023 - Devam ediyor)</div>
            <div class="edu-line">Bilgisayar Mühendisliği (Lisans) </div>
            <div class="edu-line">İstanbul Ticaret Üniversitesi</div>

            <br>
            
            <p>
            Genel Not Ortalaması: 3.16 / 4.00. İlgili Dersler: Programlama Temelleri, Nesne Yönelimli 
            Programlama, Veri Yapıları, Algoritmalar ve Veri Tabanı
            </p>

            <br>
            <hr>
            <br>

            <h3>Etkinlikler</h3>
            <br>
            <ul class="activities-list">
                <li>İngilizce seviyem B1-B2 düzeyindedir, teknik dokümanları okuyup
                    anlayabiliyorum</li>
                <li>Üniversite bünyesinde düzenlenen çeşitli yazılım ve teknoloji
                    seminerlerine katılım sağladım. </li>
                <li> GitHub hesabım üzerinden bireysel olarak küçük çaplı projeler
                    ve denemeler yapıyorum.</li>

            </ul>
             
        </div>
    </div>
</div>
