@{
    ViewData["Title"] = "Anasayfa";
}


<div class="container my-5 about-section">
  <div class="row g-4 align-items-start">

    
    <div class="col-md-3 col-12 d-flex justify-content-center align-items-start">
      <div class="photo-frame">

        <img src="~/images/AAF-1Cbbs4M_1749294290903.png"
             alt="Elif Yeter"
             class="profile-img">
      </div>
    </div>

    
    <div class="col-md-9 col-12">
      <div class="about-box">

        <h3>Hakkımda</h3>
        <br>

        <p>
          Merhaba ben Elif. İstanbulda yaşıyorum ve Bilgisayar Mühendisliği
          3. sınıf öğrencisiyim. Yazılım dünyasında kendimi geliştirmeyi seviyorum.
          Özellikle web mobil uygulama gibi alanlara ilgim var. Yeni şeyler öğrenmek,
          farklı projeler denemek ve kendimi hem teknik hem kişisel olarak geliştirmek
          benim için önemli.
        </p>

        <br>
        <hr>
        <br>

        <h3>Hedefim</h3>
        <br>

        <p>
          Öğrenmeye ve kendimi geliştirmeye devam ederek,
          kendi projelerimi hayata geçirebilmek.
        </p>

        <br>
        <hr>
        <br>

        <h3>İlgi Alanlarım</h3>
        <br>

        <p>
          Müzik dinlemeyi, spor yapmayı ve el işi projeleriyle uğraşmayı seviyorum; 
          aynı zamanda web geliştirme ve mobil uygulama projelerine meraklıyım.
          
        </p>

        <br>
        

      </div>
    </div>

  </div>
</div>




