@{
    ViewData["Title"] = "Projeler";
}


<div class="container my-5">
    <div class="projects-section">
        <div class="projects-box">

            <h3>Projelerim</h3>
            
            <br>
            
            <h5>Java Projeleri - OOP Dersi</h5>

            <ul>
                <li>ATM Projesi</li>
                <li>Alışveriş Simülasyonu</li>
                <li>Adventure Game</li>
            </ul>
            
            <br>
            
            <h5>Spring Boot / Mikroservis Projesi</h5>

            <ul>
                <li>Spring Boot ve Spring Cloud kullanarak geliştirdiğim bu 
                    mikroservis projesi, Product, Order, Payment servisleri ile
                    birlikte Config Server, Eureka ve Cloud Gateway altyapısını 
                    içerir. REST API, merkezi konfigürasyon, servis keşfi ve Auth0
                    ile güvenli login entegrasyonu sağlanmıştır. Docker ile
                    taşınabilirlik ve ölçeklenebilirlik kazanılmıştır.
                </li>
            </ul>

            <br>

            <h5>Pyhton Projeleri - Algoritma Dersi</h5>

            <ul>
                <li>Dosya İşlemleri: Öğrenci Not Kontrolü – Bir dosyadaki öğrenci 
                    notlarını okuyup, dersten geçenleri başka bir dosyaya yazdıran 
                    proje.</li>
                <li>Sudoku Solver</li>
                <li>N-Queens</li>
                <li>Adam Asmaca</li>
            </ul>
            
            <br>

            <h5>C# Projeleri</h5>

            <ul>
                <li>Basit konsol uygulamaları: To-Do List, Hesap Makinesi</li>
                <li>ASP.NET Core Web: To-Do List</li>
            </ul>
            
            <br>

            <h5>SQL / Veritabanı</h5>

            <ul>
                <li>Temel SQL sorguları ve veri yönetimi</li>
            </ul>
            
            <br>






             
        </div>
    </div>
</div>